PORT=

#MONGO:
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=

#SMTP:
SMTP_HOST=
SMTP_PORT=
SMTP_FROM=
SMTP_USER=
SMTP_PASSWORD=

JWT_SECRET=
APP_DOMAIN=

#CLOUDINARY
#CLOUDINARY_ENABLE=
ENABLE_CLOUDINARY=
CLOUD_NAME=
API_SECRET=
API_KEY=
