<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset password email</title>
</head>

<body>
  <h1 style="color: blue;">Hello, {{name}}!</h1>
  {{email}}
  <p>Click <a href="{{link}}">here</a> to reset your password!</p>
  <pre>
  
  {
    "token": "{{token}}",
    "password": "***"
  }
</pre>
<hr>
  <sup>
    <p id="dateTimeStamp"></p>
  </sup>
  <script>
    const dateTimeStamp = new Date();
    const p = document.querySelector('#dateTimeStamp')
    p.innerHTML = dateTimeStamp.toLocaleString();
  </script>
</body>

</html>
